{"openapi":"3.0.0","info":{"title":"Carbon Host Controller API","version":"1.0.0","description":"The API for the Carbon Host Controller","contact":{"url":"https://carbon.host","name":"Carbon Host","email":"contact@carbon.host"}},"servers":[{"url":"https://api.carbon.host","description":"Production server"}],"components":{"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer"}},"schemas":{},"parameters":{}},"paths":{"/v1/me":{"get":{"responses":{"200":{"description":"Successfully fetched user","content":{"application/json":{"schema":{"type":"object","properties":{"clerkId":{"type":"string"},"plan":{"type":"string","nullable":true,"enum":["pro","enterprise"]},"credits":{"type":"number"},"redeemedGifts":{"type":"array","items":{"type":"string"}},"limits":{"type":"object","properties":{"cpu":{"type":"number"},"memory":{"type":"number"},"storage":{"type":"number"}},"required":["cpu","memory","storage"]},"createdAt":{"type":"string","format":"date"}},"required":["clerkId","plan","credits","redeemedGifts","limits","createdAt"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars":{"post":{"tags":["Stars"],"summary":"Create Star","description":"Creates a new star with the provided configuration","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":3,"maxLength":24,"pattern":"^[a-zA-Z0-9-_]+$","default":"Evil-Green"},"type":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","PURPUR","FOLIA","VELOCITY","WATERFALL","FORGE","FABRIC","CUSTOM"],"default":"PAPER"},"customJar":{"type":"string","format":"uri"},"version":{"type":"string","default":"latest"},"javaVersion":{"type":"string","enum":["8","11","17","21"],"default":"21"},"resources":{"type":"object","properties":{"memory":{"type":"integer","minimum":2000000000,"maximum":16000000000,"default":4000000000}},"default":{"memory":4000000000}},"advanced":{"type":"object","properties":{"billingCycle":{"type":"string","enum":["monthly","hourly"],"default":"monthly"},"startupCommand":{"type":"string"}},"default":{}}}}}}},"responses":{"200":{"description":"Star created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string"},"ownerId":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"customJar":{"type":"string"},"version":{"type":"string"},"javaVersion":{"type":"string","enum":["21","17","11","8"]},"startupCommand":{"type":"string"},"serverId":{"type":"number"},"clientId":{"type":"string"},"galaxyId":{"type":"number"},"ip":{"type":"string"},"subdomain":{"type":"string"},"subUsers":{"type":"array","items":{"type":"string"}},"resources":{"type":"object","properties":{"storage":{"type":"number"},"memory":{"type":"number"},"vCPU":{"type":"number"}},"required":["storage","memory","vCPU"]},"suspended":{"type":"boolean"},"lastBilled":{"type":"string"},"billingCycle":{"type":"string","enum":["monthly","hourly"]},"createdAt":{"type":"string"}},"required":["_id","ownerId","name","type","version","javaVersion","serverId","clientId","galaxyId","ip","subUsers","resources","suspended","billingCycle","createdAt"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"get":{"tags":["Stars"],"summary":"Get stars","description":"Get all stars","responses":{"200":{"description":"Successfully fetched stars","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"ownerId":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"customJar":{"type":"string"},"version":{"type":"string"},"javaVersion":{"type":"string","enum":["21","17","11","8"]},"startupCommand":{"type":"string"},"serverId":{"type":"number"},"clientId":{"type":"string"},"galaxyId":{"type":"number"},"ip":{"type":"string"},"subdomain":{"type":"string"},"subUsers":{"type":"array","items":{"type":"string"}},"resources":{"type":"object","properties":{"storage":{"type":"number"},"memory":{"type":"number"},"vCPU":{"type":"number"}},"required":["storage","memory","vCPU"]},"suspended":{"type":"boolean"},"lastBilled":{"type":"string"},"billingCycle":{"type":"string","enum":["monthly","hourly"]},"createdAt":{"type":"string"}},"required":["_id","ownerId","name","type","version","javaVersion","serverId","clientId","galaxyId","ip","subUsers","resources","suspended","billingCycle","createdAt"]}}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}":{"get":{"tags":["Stars"],"summary":"Get a star","description":"Get a star with the given ID","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Successfully fetched a star","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"type":"string"},"ownerId":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"customJar":{"type":"string"},"version":{"type":"string"},"javaVersion":{"type":"string","enum":["21","17","11","8"]},"startupCommand":{"type":"string"},"serverId":{"type":"number"},"clientId":{"type":"string"},"galaxyId":{"type":"number"},"ip":{"type":"string"},"subdomain":{"type":"string"},"subUsers":{"type":"array","items":{"type":"string"}},"resources":{"type":"object","properties":{"storage":{"type":"number"},"memory":{"type":"number"},"vCPU":{"type":"number"}},"required":["storage","memory","vCPU"]},"suspended":{"type":"boolean"},"lastBilled":{"type":"string"},"billingCycle":{"type":"string","enum":["monthly","hourly"]},"createdAt":{"type":"string"}},"required":["_id","ownerId","name","type","version","javaVersion","serverId","clientId","galaxyId","ip","subUsers","resources","suspended","billingCycle","createdAt"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"delete":{"tags":["Stars"],"summary":"Delete a star","description":"Delete a star with the given ID","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Successfully deleted a star","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"patch":{"tags":["Stars"],"summary":"Update star","description":"Update a star's configuration","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":3,"maxLength":24,"pattern":"^[a-zA-Z0-9-_]+$","default":"Intact-Amethyst"},"type":{"type":"string","enum":["VANILLA","PAPER","PUFFERFISH","PURPUR","FOLIA","VELOCITY","WATERFALL","FORGE","FABRIC","CUSTOM"],"default":"PAPER"},"customJar":{"type":"string","format":"uri"},"version":{"type":"string","default":"latest","description":"The version of the server","example":"1.21.4"},"javaVersion":{"type":"string","enum":["8","11","17","21"],"default":"21","description":"The java version of the server","example":"21"},"startupCommand":{"type":"string","description":"Custom startup command for the server","example":"java -Xms128M -XX:MaxRAMPercentage=95.0 -Dterminal.jline=false -Dterminal.ansi=true -jar {{SERVER_JARFILE}}"}}}}}},"responses":{"200":{"description":"Successfully updated star","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"star":{"type":"object","properties":{"_id":{"type":"string"},"ownerId":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"customJar":{"type":"string"},"version":{"type":"string"},"javaVersion":{"type":"string","enum":["21","17","11","8"]},"startupCommand":{"type":"string"},"serverId":{"type":"number"},"clientId":{"type":"string"},"galaxyId":{"type":"number"},"ip":{"type":"string"},"subdomain":{"type":"string"},"subUsers":{"type":"array","items":{"type":"string"}},"resources":{"type":"object","properties":{"storage":{"type":"number"},"memory":{"type":"number"},"vCPU":{"type":"number"}},"required":["storage","memory","vCPU"]},"suspended":{"type":"boolean"},"lastBilled":{"type":"string"},"billingCycle":{"type":"string","enum":["monthly","hourly"]},"createdAt":{"type":"string"}},"required":["_id","ownerId","name","type","version","javaVersion","serverId","clientId","galaxyId","ip","subUsers","resources","suspended","billingCycle","createdAt"]}},"required":["message","star"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/ports":{"get":{"tags":["Ports"],"summary":"List ports","description":"List all allocated ports for the server","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Successfully retrieved ports","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"ip":{"type":"string"},"port":{"type":"number"},"notes":{"type":"string","nullable":true},"isDefault":{"type":"boolean"}},"required":["id","ip","port","notes","isDefault"]}}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"post":{"tags":["Ports"],"summary":"Create port","description":"Allocate a new port for the server","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"notes":{"type":"string","maxLength":256,"description":"Notes for this port allocation","example":"Proxy port"}}}}}},"responses":{"200":{"description":"Successfully allocated port","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"ip":{"type":"string"},"port":{"type":"number"},"notes":{"type":"string","nullable":true},"isDefault":{"type":"boolean"}},"required":["id","ip","port","notes","isDefault"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/ports/{allocation}":{"delete":{"tags":["Ports"],"summary":"Delete port","description":"Remove a port allocation from the server","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"The ID of the allocation to delete","example":"123"},"required":true,"name":"allocation","in":"path"}],"responses":{"204":{"description":"Successfully deleted port allocation"},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/resources":{"get":{"tags":["Stars"],"summary":"Get a star's resources","description":"Get a star's resources with the given ID","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Successfully fetched a star's resources","content":{"application/json":{"schema":{"type":"object","properties":{"currentState":{"type":"string"},"isSuspended":{"type":"boolean"},"resources":{"type":"object","properties":{"memoryBytes":{"type":"number"},"cpuAbsolute":{"type":"number"},"diskBytes":{"type":"number"},"networkRxBytes":{"type":"number"},"networkTxBytes":{"type":"number"},"uptime":{"type":"number"}},"required":["memoryBytes","cpuAbsolute","diskBytes","networkRxBytes","networkTxBytes","uptime"]}},"required":["currentState","isSuspended","resources"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/power":{"put":{"tags":["Stars"],"summary":"Set star power","description":"Set the power of a star","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"action":{"type":"string","enum":["restart","stop","start","kill"]}},"required":["action"]}}}},"responses":{"200":{"description":"Set star power","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/carbon-plugin/install":{"post":{"tags":["Carbon Plugin"],"summary":"Install Carbon Plugin","description":"Install the latest version of the Carbon Plugin","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"port":{"type":"number","description":"The port of the star","example":10000}},"required":["port"]}}}},"responses":{"200":{"description":"Successfully installed Carbon Plugin","content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"string"},"path":{"type":"string"}},"required":["version","path"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/carbon-plugin":{"get":{"tags":["Carbon Plugin"],"summary":"Get server info","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Successfully fetched server info","content":{"application/json":{"schema":{"type":"object","properties":{"tps":{"type":"number"},"mspt":{"type":"number"},"resources":{"type":"object","properties":{"ramUsage":{"type":"number"},"ramTotal":{"type":"number"},"cpuUsage":{"type":"number"},"cpuCores":{"type":"number"}},"required":["ramUsage","ramTotal","cpuUsage","cpuCores"]},"playerCountInfo":{"type":"object","properties":{"onlinePlayers":{"type":"number"},"maxPlayers":{"type":"number"}},"required":["onlinePlayers","maxPlayers"]}},"required":["tps","mspt","resources","playerCountInfo"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/carbon-plugin/commands":{"get":{"tags":["Carbon Plugin"],"summary":"Get command completions","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"The command query to complete","example":"help"},"required":true,"name":"query","in":"query"}],"responses":{"200":{"description":"Successfully fetched command completions","content":{"application/json":{"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"limit":{"type":"number"},"offset":{"type":"number"}},"required":["limit","offset"]},"data":{"type":"array","items":{"type":"string"}}},"required":["pagination","data"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/carbon-plugin/players":{"get":{"tags":["Carbon Plugin"],"summary":"Get online players","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","description":"The maximum number of players to return","example":10},"required":false,"name":"limit","in":"query"},{"schema":{"type":"number","description":"The number of players to skip","example":0},"required":false,"name":"offset","in":"query"}],"responses":{"200":{"description":"Successfully fetched online players","content":{"application/json":{"schema":{"type":"object","properties":{"pagination":{"type":"object","properties":{"limit":{"type":"number"},"offset":{"type":"number"}},"required":["limit","offset"]},"data":{"type":"object","properties":{"players":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"uuid":{"type":"string"},"firstPlayed":{"type":"number"},"lastSeen":{"type":"number"},"lastLogin":{"type":"number"},"isOp":{"type":"boolean"},"idleDuration":{"type":"number"},"ping":{"type":"number"},"location":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"z":{"type":"number"},"world":{"type":"string"}},"required":["x","y","z","world"]}},"required":["name","uuid","firstPlayed","lastSeen","lastLogin","isOp","idleDuration","ping","location"]}},"countInfo":{"type":"object","properties":{"onlinePlayers":{"type":"number"},"maxPlayers":{"type":"number"}},"required":["onlinePlayers","maxPlayers"]}},"required":["players","countInfo"]}},"required":["pagination","data"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files":{"get":{"tags":["Stars","Files"],"summary":"List files in directory","description":"List all files and directories in the specified directory","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","default":"/","description":"Directory path to list","example":"/plugins"},"required":false,"name":"path","in":"query"}],"responses":{"200":{"description":"Successfully listed files","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"mode":{"type":"string"},"modeBits":{"type":"string"},"size":{"type":"number"},"isFile":{"type":"boolean"},"isSymlink":{"type":"boolean"},"mimetype":{"type":"string"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["name","mode","modeBits","size","isFile","isSymlink","mimetype","createdAt"]}}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"delete":{"tags":["Stars","Files"],"summary":"Delete files","description":"Delete one or more files or directories","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string"},"paths":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Successfully deleted files","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"post":{"tags":["Stars","Files"],"summary":"Create file or directory","description":"Create a new file or directory","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","enum":["file","directory"]},"path":{"type":"string"}},"required":["type","path"]}}}},"responses":{"200":{"description":"Successfully created file or directory","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/content":{"get":{"tags":["Stars","Files"],"summary":"Get file contents","description":"Get the contents of a file","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"Path to the file","example":"/server.properties"},"required":true,"name":"path","in":"query"}],"responses":{"200":{"description":"Successfully retrieved file contents","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string"},"imageSrc":{"type":"string"}}}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/write":{"put":{"tags":["Stars","Files"],"summary":"Write file contents","description":"Write contents to a file","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string"},"content":{"type":"string"}},"required":["path","content"]}}}},"responses":{"200":{"description":"Successfully wrote file contents","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/upload":{"get":{"tags":["Stars","Files"],"summary":"Get upload URL","description":"Get a presigned URL for file uploads","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","default":"/","description":"Directory to upload to","example":"/plugins"},"required":false,"name":"path","in":"query"}],"responses":{"200":{"description":"Successfully got upload URL","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"}},"required":["url"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/compress":{"post":{"tags":["Stars","Files"],"summary":"Compress files into archive","description":"Create a compressed archive from specified files","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"root":{"type":"string","default":"/"},"files":{"type":"array","items":{"type":"string"}}},"required":["files"]}}}},"responses":{"200":{"description":"Successfully created archive","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"mode":{"type":"string"},"size":{"type":"number"},"isFile":{"type":"boolean"},"isSymlink":{"type":"boolean"},"mimetype":{"type":"string"},"createdAt":{"type":"string","nullable":true},"modifiedAt":{"type":"string","nullable":true}},"required":["name","mode","size","isFile","isSymlink","mimetype","createdAt","modifiedAt"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/decompress":{"post":{"tags":["Stars","Files"],"summary":"Decompress archive","description":"Extract files from a compressed archive","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"root":{"type":"string","default":"/"},"file":{"type":"string"}},"required":["file"]}}}},"responses":{"204":{"description":"Successfully decompressed archive"},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/move":{"post":{"tags":["Stars","Files"],"summary":"Move/rename a file","description":"Move or rename a file or directory to a new location","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string"},"files":{"type":"array","items":{"type":"object","properties":{"from":{"type":"string"},"to":{"type":"string"}},"required":["from","to"]}}},"required":["path","files"]}}}},"responses":{"200":{"description":"Successfully moved file","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/chmod":{"post":{"tags":["Stars","Files"],"summary":"Set file permissions","description":"Set permissions for files and directories","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string","description":"Base directory path","example":"./"},"files":{"type":"array","items":{"type":"object","properties":{"file":{"type":"string","description":"File or directory name","example":"plugins"},"mode":{"type":"string","description":"Permission mode in octal (e.g. 755 for rwxr-xr-x)","example":"755"}},"required":["file","mode"]}}},"required":["path","files"]}}}},"responses":{"204":{"description":"Successfully set permissions"},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/rename":{"put":{"tags":["Files"],"summary":"Rename file","description":"Rename a file or directory on the server","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string","description":"The path to the file to rename","example":"/plugins/CarbonPlugin-0.0.2.jar"},"name":{"type":"string","description":"The new name for the file","example":"CarbonPlugin-0.0.2.jar.old"}},"required":["path","name"]}}}},"responses":{"204":{"description":"Successfully renamed file"},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/files/download":{"get":{"tags":["Stars"],"summary":"Download a file from a star","description":"Download a file from a star's filesystem","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"The path to the file to download","example":"server.properties"},"required":true,"name":"path","in":"query"}],"responses":{"200":{"description":"Successfully downloaded the file","content":{"application/octet-stream":{"schema":{"nullable":true}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/backups":{"get":{"tags":["Backups"],"summary":"List backups","description":"Retrieves a list of backups for the server","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Successfully retrieved backups","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"bytes":{"type":"number"},"checksum":{"type":"string"},"ignoredFiles":{"type":"array","items":{"type":"string"}},"locked":{"type":"boolean"},"name":{"type":"string"},"uuid":{"type":"string"},"successful":{"type":"boolean"},"completedAt":{"type":"string","nullable":true},"createdAt":{"type":"string"},"_id":{"type":"string"},"starId":{"type":"string"},"description":{"type":"string"},"starType":{"type":"string"},"starVersion":{"type":"string"}},"required":["bytes","checksum","ignoredFiles","locked","name","uuid","successful","completedAt","createdAt","_id","starId","starType"]}}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"post":{"tags":["Backups"],"summary":"Create backup","description":"Creates a new backup of the server","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":32,"description":"Name of the backup","example":"Quick Backup"},"description":{"type":"string","maxLength":255,"description":"Description of the backup","example":"This is a backup of the server"},"ignored":{"type":"array","items":{"type":"string"},"description":"Files to ignore during backup","example":["cache/*","tmp/*"]},"isLocked":{"type":"boolean","description":"Whether the backup is locked","example":true}}}}}},"responses":{"200":{"description":"Successfully created backup","content":{"application/json":{"schema":{"type":"object","properties":{"bytes":{"type":"number"},"checksum":{"type":"string"},"ignoredFiles":{"type":"array","items":{"type":"string"}},"locked":{"type":"boolean"},"name":{"type":"string"},"uuid":{"type":"string"},"successful":{"type":"boolean"},"completedAt":{"type":"string","nullable":true},"createdAt":{"type":"string"},"_id":{"type":"string"},"starId":{"type":"string"},"description":{"type":"string"},"starType":{"type":"string"},"starVersion":{"type":"string"}},"required":["bytes","checksum","ignoredFiles","locked","name","uuid","successful","completedAt","createdAt","_id","starId","starType"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/backups/{backup}":{"get":{"tags":["Backups"],"summary":"Backup details","description":"Retrieves information about the specified backup","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"The UUID of the backup","example":"904df120-a66f-4375-a4ae-40eedbeae630"},"required":true,"name":"backup","in":"path"}],"responses":{"200":{"description":"Successfully retrieved backup details","content":{"application/json":{"schema":{"type":"object","properties":{"bytes":{"type":"number"},"checksum":{"type":"string"},"ignoredFiles":{"type":"array","items":{"type":"string"}},"locked":{"type":"boolean"},"name":{"type":"string"},"uuid":{"type":"string"},"successful":{"type":"boolean"},"completedAt":{"type":"string","nullable":true},"createdAt":{"type":"string"},"_id":{"type":"string"},"starId":{"type":"string"},"description":{"type":"string"},"starType":{"type":"string"},"starVersion":{"type":"string"}},"required":["bytes","checksum","ignoredFiles","locked","name","uuid","successful","completedAt","createdAt","_id","starId","starType"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}},"delete":{"tags":["Backups"],"summary":"Delete backup","description":"Deletes the specified backup","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"The UUID of the backup","example":"904df120-a66f-4375-a4ae-40eedbeae630"},"required":true,"name":"backup","in":"path"}],"responses":{"204":{"description":"Successfully deleted backup"},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":404},"name":{"type":"string","description":"The name of the status code","example":"Not Found"},"message":{"type":"string","description":"The error message","example":"The requested resource was not found"}},"required":["statusCode","name","message"]}},"required":["error"]}}}}}}},"/v1/stars/{id}/backups/{backup}/download":{"get":{"tags":["Backups"],"summary":"Download backup","description":"Generates a download link for a backup","parameters":[{"schema":{"type":"string","description":"The ID of the star","example":"abc123"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","description":"The UUID of the backup","example":"904df120-a66f-4375-a4ae-40eedbeae630"},"required":true,"name":"backup","in":"path"}],"responses":{"200":{"description":"Successfully generated download URL","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","enum":["signed_url"]},"attributes":{"type":"object","properties":{"url":{"type":"string"}},"required":["url"]}},"required":["object","attributes"]}}}},"400":{"description":"Bad Request, client provided invalid data in the request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":400},"name":{"type":"string","description":"The name of the status code","example":"Bad Request"},"message":{"type":"string","description":"The error message","example":"The request is invalid"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"401":{"description":"Unauthorized request, client must provide a valid Bearer token in the Authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":401},"name":{"type":"string","description":"The name of the status code","example":"Unauthorized"},"message":{"type":"string","description":"The error message","example":"You are not authorized to access this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"403":{"description":"Forbidden request, client does not have access to this resource","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","description":"The HTTP status code","example":403},"name":{"type":"string","description":"The name of the status code","example":"Forbidden"},"message":{"type":"string","description":"The error message","example":"You do not have access to this resource"}},"required":["statusCode","name","message"]}},"required":["error"]}}}},"404":{"description":"Not Found, the requested resource was not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"statusCode":{"type":"number","descript
[...]
